<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUF.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebUF.Frontend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Brasil</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Filtro
                                </button>
                                <form asp-controller="Home" asp-action="buscarRegiao" method="post" class="dropdown-menu p-0" style="min-width: 12rem;">
                                    
                                    <button type="submit" name="regiao" value="" class="dropdown-item">Todos os Estados</button>
                                    <button type="submit" name="regiao" value="Norte" class="dropdown-item">Região Norte</button>
                                    <button type="submit" name="regiao" value="Nordeste" class="dropdown-item">Região Nordeste</button>
                                    <button type="submit" name="regiao" value="Centro-Oeste" class="dropdown-item">Região Centro-Oeste</button>
                                    <button type="submit" name="regiao" value="Sudeste" class="dropdown-item">Região Sudeste</button>
                                    <button type="submit" name="regiao" value="Sul" class="dropdown-item">Região Sul</button>
                                </form>
                            </div>
                        </li>
                    </ul>

                    <form id="formConsultaAjax" action="/Home/ConsultaSigla" method="post" class="d-flex" role="search">
                        <input id="siglaInput" name="sigla" class="form-control me-2" type="search" placeholder="Buscar UF (Ex: SP)" aria-label="Buscar UF" maxlength="2" />
                        <button id="btnBuscar" class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebUF.Frontend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/uf.js"></script>
</body>
</html>
