@using WebUF.ViewModel
@model List<EstadoViewModel>

@{
    ViewData["Title"] = "Estados do Brasil";
    // 1. Pega a mensagem de erro do TempData
    var errorMessage = TempData["ErrorMessage"] as string;
}


<div class="container my-5 text-center">
    <div id="resultadoVerificacao" class="mt-3"></div>

    @using (Html.BeginForm("ConsultaSigla", "Home", FormMethod.Post))
    {
        <h2 class="mb-4">Lista de Estados</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mx-auto w-75">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sigla</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Região</th>
                        <th scope="col">Capital</th>
                        <th scope="col" class="col-action">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @await Html.PartialAsync("_TabelaEstados", Model)
                </tbody>
            </table>
            
        </div>
        
    }
    

    
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var urlRaiz = '@Url.Action("", "Home")' + "Home";
</script>
