@using WebUF.ViewModel
@model List<EstadoViewModel>

@{
    ViewData["Title"] = "Estados do Brasil";
    // 1. Pega a mensagem de erro do TempData
    var errorMessage = TempData["ErrorMessage"] as string;
}


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="container mt-3">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro ao carregar dados!</strong> @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}


<div class="container my-5 text-center">

    @using (Html.BeginForm("ConsultaSigla", "Home", FormMethod.Post, new { id = "formConsultaAjax" }))
    {
        <h2 class="mb-4">Lista de Estados</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mx-auto w-75">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sigla</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Região</th>
                        <th scope="col">Capital</th>
                        <th scope="col" class="col-action">Ação</th>
                    </tr>
                </thead>
                <tbody id="tabelaCorpo">
                    @await Html.PartialAsync("_TabelaEstados", Model)
                </tbody>
            </table>
        </div>
        
    }

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var urlRaiz = '@Url.Action("", "Home")' + "Home";
</script>

<script src="~/js/uf.js"></script>